$fs: 8px;
$fmm: 'Montserrat', sans-serif;
$fmo: 'Open Sans', sans-serif;
$fwb: 700;
$fwr: 400;
$fwe: 900;

/*specification*/
body{
	margin: 0 auto;
	padding: 0;
	font-family: $fmo;
	font-size: $fs*2;
}
.container{
	width: 80%;
	margin: 0 auto;
}
div, img{
	box-sizing: border-box;
}
ul, li, a, img{
	display: block;
}

@import 'header';
@import 'services';
@import 'works';
@import 'clients';
@import 'team';
@import 'brands';
@import 'pricing';
@import 'map-form';
@import 'footer';